
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selfer keynote</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🟥</text></svg>">
</head>
<body>
    <div class="header">
        <a class="title" href="#">🟥 Selfer keynote</a>
        <a class="credit" href="https://www.selfer.fr">Made with Selfer</a>
    </div>
    <div class="container">
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a27e64ba-0a09-4e60-b948-b535b9858a65/Frame_1513.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=9d87750c5aa0bb55820150abc9b0261b54f74c5ce077ac9ae762e066c7c77742&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/767c9908-19a2-4c67-8e8d-99c5f1fe132f/Frame_1521.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=4c566bc742e4d6e569b7fcca87dc12f72b3b04c2b028d6f4e07e45913732c736&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <h1 class="style-1">Notre projet</h1>
    <h2 class="style-1">Description</h2>
    <p class="style-1">Notre choix s'est porté sur l'API Notion, grâce à laquelle nous souhaitons authentifier un utilisateur,</p>
    <p class="style-1">lui permettre d'accéder à ses pages, les personnaliser, puis les mettre en ligne.</p>
    <p class="style-1">Cet outil permettra aux utilisateurs de construire des sites web de manière intuitive, rapide,</p>
    <p class="style-1">et ne nécessitant aucune compétence particulière, si ce n'est d'être familier avec l'outil Notion.</p>
    <p class="style-1">Le format proposé sera idéal pour facilement mettre en lumière des projets professionnels</p>
    <p class="style-1">et personnels, ou simplement les présenter à une multitude d’interlocuteurs de manière accessible .</p>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/2c659751-b620-46f0-b2be-c4628d89d0e3/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=477feaa1cd7819be7980a79613c6c1cda3b46fb3e5df3cb107bf1109d123dd36&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <h2 class="style-1">User Research</h2>
    <p class="style-1">Pour rendre l’expérience utilisateur optimale, nous avons établi la persona d’un utilisateur potentiel de notre solution; un étudiant ne souhaitant pas perdre de temps à coder un portfolio, et qui utilise déjà Notion régulièrement.</p>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/5c70e8f6-691e-4f8d-bebb-09405339d4a2/Frame_1520.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=4b5124d1bf923762bdf32956eaadd071e0a485931f9b4b7b0360588e9630a46c&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/3b0ae05a-a137-4703-9f68-773db2362319/Group_2364.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=5bb5968e8b3d7fce3450538479000537dccd0a275a76faf00a8bda6ac2a61d27&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <p class="style-1">En partant de nos recherches, de cette problématique et de cette persona avons ensuite réalisé l’user journey, afin de parfaitement déterminer le scope du projet, et de rendre l’expérience la plus fluide et compréhensible possible pour l’utilisateur.</p>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/86c10ebd-4d98-46ad-8776-1d72bc6017ac/Parcours_Utilisateur.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=8fcd3688cb7840872fcdf7d45ea44f32b10602519550c204b5af501ca6d5c4d0&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <h2 class="style-1">Wireframing</h2>
    <p class="style-1">Vient ensuite l'étape du wireframing, afin de concevoir l'interface et la navigation de l'utilisateur.</p>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/7fdace0a-d0a0-4358-82d2-d3ea08e0d154/Frame_1529.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=005fb56b44bb769220c29df50ed35fd4906e0e69643cf2eab9fc39a0584189ba&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/d4911ccc-70a5-4425-a386-b84399f84072/Slide_16_9_-_14.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=3611085b2e2551e6481d558bd0a42ce572b72d9a2abcfb44ff402dbbe49aad1a&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <p class="style-1">Ensuite, la sélection du nom, et le branding de la marque. Ces couleurs simples et épurées permettent une navigation agréable et peu invasive pour ne pas perturber les utilisateurs et leur permettre de choisir leur colorimétrie sans être influencée par la nôtre.</p>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/0553e260-2650-45d6-ba56-eae6b7efe673/Frame_1473.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=4e146456db94e030f80aae5f2ee59ec17f65d8813ad705c3dc1fca3b70aedcd7&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <p class="style-1">Le nom Selfer fait référence à la possibilité que nous offrons à nos utilisateurs de tout faire eux-même, sans avoir besoin de compétences particulières.</p>
    <p class="style-1">La typographie, Neue Montreal, est suffisamment neutre pour être utilisée dans toutes ses déclinaisons, tout en gardant un certain impact malgré sa sobriété.</p>
    <p class="style-1">Le logotype est un assemblage de cubes, l'un faisant référence au logo de Notion, et le second, à Internet. L'espace vide entre les deux est comblé par notre outil, permettant de publier sur l'un des contenus conçus sur l'autre, de manière totalement fluide.</p>
    <h2 class="style-1">Maquettes Figma</h2>
    <p class="style-1">Une fois toutes ces étapes terminées, nous avons pu itérer sur les maquettes des différentes pages de notre dashboard, dont voici les versions finales.</p>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/86818b2a-bdd0-4e0b-b01d-a63d0892b89b/Frame_1538.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=c4d9db8be042bf3cb946a786f7462443fb2deea48146c4f65bd27ac74c8affc9&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <h2 class="style-1">Développement</h2>
    <p class="style-1">Afin de donner vie à cette interface, il fallait évidemment aussi concevoir l'architecture nous permettant de récupérer les informations dont nous avions besoin grâce à l'API de Notion.</p>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/6029ec96-be56-4d0c-8abd-a07354b99ade/Schema.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=98a6a9e8ff771eb541cbcec9ba86e0f0b4c3d711a7b54919eb53965f0789ab7b&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/cd85263e-5cb4-4180-970f-40ba7750e065/unknown_png%282%29.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=86b9ffce6cac329e72bf750f71700531f2e64fb7d87f9d3220685085ed597567&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/27faa5e8-a647-4c9d-b90d-4d5d01bad2fd/unknown_png.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=a3b28225df2a1c10ad5c2c6c84f75adf9d940499115f52f45d63e1458cf01460&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/9f17e1b5-4e10-4c94-917d-33f3eea126ea/unknown_png%283%29.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=e0491011f4254b8e46d58f5992a762302f3eec70919795f75a6a7451a586d9d0&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <h2 class="style-1">Roadmap</h2>
    <p class="style-1">La version présentée aujourd'hui a encore de nombreuses améliorations de prévues à l'avenir et de nouvelles fonctionnalité d'édition que nous avons détaillées.</p>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/57c18d54-cbd9-4d7d-bd56-27f75198c10a/Roadmap.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=6d6f6ee0831729f289b8032f80a2dc5a3c2d71304c00b3054c840a0d8cfd0e3f&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/ce263952-a46b-49ae-8db8-8975953adbd6/Frame_1539.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=75845c61709609da9877c4d13df88aad669176489a02e6e46381efedef7dca06&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/0db15c0e-9c8d-42fa-9a01-68ffc58b7a54/Frame_152sdfgdh.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=a4c7f4eb1f61b280008ab011e4a39575c5ef6e6a09ffd2f091eb25ccf1741a86&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/c65b8428-620a-4e4c-8bc3-05106e1e3918/Frame_1540.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20211206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211206T071207Z&X-Amz-Expires=3600&X-Amz-Signature=b412e36e1e507efa4ebf4c7dd036080ad894b3b9f2a17bf81e567c6a14de11ca&X-Amz-SignedHeaders=host&x-id=GetObject"/>
    </div>
</body>
</html>

<style>
*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: #FF8787;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title{
    margin-left: 20vw;
    font-size: 2vw;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    transition: 0.3s;
    font-weight: 600;
}

.header .title:hover{
    transform: scale(0.975);
}

.header .credit{
    margin-right: 20vw;
    padding-top: .5vh;
    font-size: 1vw;
    text-decoration: none;
    color: #f6f6f6;
    font-family: sans-serif;
    font-weight: 400;
}

.header .credit:hover{
    text-decoration: underline;
}

.container{
    width: 60vw;
    padding-top: 20vh;
    margin-left: 20vw;
    margin-right: 20vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
}

h1{
    font-size: 5vw;
    font-family: sans-serif;
    font-weight: 700;
    margin: 3vh 0 .5vh 0;
}

h1.style-1{
    text-decoration: underline;
}

h1.style-2{
    color: blue;
}

h2{
    font-size: 3.5vw;
    font-family: sans-serif;
    font-weight: 600;
    margin: 2vh 0 .5vh 0;
}

h2.style-1{
    text-decoration: underline;
}

h2.style-2{
    background: blue;
}

h3{
    font-size: 2.5vw;
    font-family: sans-serif;
    font-weight: 500;
    margin: 1.25vh 0 .5vh 0;
}

h3.style-1{
    background: blue;
}

h3.style-2{
    background: blue;
}

p{
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: 400;
    margin: 1vh 0 .5vh 0;
}

p.style-1{
    background: blue;
}

p.style-2{
    background: blue;
}

img{
    margin: 2.5vh 0 2.5vh 0;
    border-radius: 30px;
    width: 60vw;
}

img.style-1{
    background: blue;
}

img.style-2{
    background: blue;
}

</style>